dist
node_modules
*.wasm
*.log
rococo-local.json
rococo-local-raw.json
configLocal.json
generated
builds
*-debug.log
*-error.log
node_modules/
**/node_modules/
.node_modules/
**/dist/
yarn.lock
**/yarn-error.log
yarn-error.log
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
.vscode

v8-compile-cache-0
yarn--*
